html,body {
   margin: 0;
   padding: 0;
   border: none;
   height: 100%;
}

body {
   font-family: Verdana, arial, Helvetica, Sans-Serif;
   font-size : 12px;
   color: #AAA;
   background-color: #333;
}

a,a:visited {
   text-decoration: none;
   color: #AAA
}

a:hover {
   color: #d3d3d3;
}

#sideBarHandle {
   z-index: 1000;
   background-color: #444;
   position: fixed;
   top: 150px;
   left: -10000px;
   margin: 0;
   padding: 6px 6px 6px 0px;
   border-radius: 0px 4px 4px 0px;
   cursor: pointer;
}

#sideBarHandle div {
   margin: 0px 0px 0px 6px;
   padding: 0px;
   width: 0.6em;
   font-variant: small-caps;
   font-size: 1em;
   font-weight: bold;
   text-align: center;
   text-shadow: black 1px 1px 1px;
}

#sideBarHandle:hover {
   color: #d3d3d3;
}

#sideBar {
   position: relative;
   height: 95%;
   z-index: 100;
   left: -10000px;
   top: 27px;
   float: left;
}

#thumbsList li:hover {
   color: #d3d3d3;
}

#thumbsList {
   list-style: none;
   z-index: 11;
   height: 91%;
   width: 120px;
   overflow: auto;
   padding: 6px 0 6px 22px;
}

#thumbsList li {
   margin: 0.5em 0 0 0;;
   padding: 0 0 0 6px;
   text-align: center;
   cursor: pointer;
}

.selectedThumbnail {
   border: 1px solid #d3d3d3;
}

#sideBarHide {
   position: fixed;
   top: 150px;
   background-color: #444;
   margin: 0;
   padding: 6px 6px 6px 6px;
   width: 0.6em;
   font-variant: small-caps;
   font-size: 1em;
   font-weight: bold;
   text-align: center;
   text-shadow: black 1px 1px 1px;
   border-radius: 0px 4px 4px 0;
   cursor: pointer;
}

#sideBarHide:hover {
   color: #d3d3d3;
}

.menu {
   position: absolute;
   z-index: 1000;
}

#leftmenu {
   margin: 0px;
   padding: 0px;
   font-variant: small-caps;
   font-size: 1em;
   font-weight: bold;
   text-align: center;
   text-shadow: black 1px 1px 1px;
   position: fixed;
   background-color: #444;
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 0px 4px 4px 0;
   top: 40px;
   width: 20px;
}

#leftmenu ul {
   list-style: none inside none;
   margin: 0px;
   padding: 6px 0px 6px 0px;
}

#leftmenu ul li {
   margin: 0px 0px 0px 0px;
   padding: 8px 0px 0px 0px;
   cursor: pointer;
}

#homeIcon {
   background-position: center;
   background-repeat: no-repeat;
   background-image: url("/images/icons/home.icon.png");
}

#homeIcon:hover {
   background-image: url("/images/icons/home.icon.hover.png");
}

#directoryUp {
   background-position: center;
   background-repeat: no-repeat;
   background-image: url("/images/icons/arrow-up.AAAAAA.png");
}

#directoryUp:hover {
   background-image: url("/images/icons/arrow-up.AAAAAA.hover.png");
}

#help:hover {
   color: #d3d3d3;
}

#imagePage {
   position: absolute;
   z-index: 200;
   left: 150px;
   top: 40px;
   padding: 0 10px 0 0;
   text-align: center;
   background-position: center;
   background-repeat: no-repeat;
   background-image: url("/images/3rdParty/spinner.gif");
}

#topImageNavigation {
   top: 0px;
   left: 0px;
   height: 115px;
   text-align: left;
}

#topImageNavigationMenu {
   position: absolute;
   display: none;
   height: 0;
   background-color: #444;
   opacity: 0.8;
   width: 100%;
}

#mainImage {
   cursor: e-resize;
}

#leftImageNavigation {
   top: 150px;
   left: 0px;
   cursor: w-resize;
}

#mapIcon {
   display: inline;
   float: left;
}

.imageDescription {
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
}

#additionalImageInformation {
   position: absolute;
   margin: 10px;
   left: 60px;
   list-style: none inside none;
}

#additionalImageInformation p {
   margin: 0px 0px 0px 6px;
   padding: 0;
   font-size: 1em;
   font-weight: bold;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}